@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(236, 236, 236);
    font-family: Arial, Helvetica, sans-serif;
}

div#foto {
    text-align: center;
}

div#foto > img {
    width: 96%;
}

img {
    height: 580px;
    width: 100%;
}

div#dados {
    margin-top: 18px;
    margin-bottom: 30px;
}

div#dados > p {
    padding-left: 12px;
    text-align: left;
    font-size: 2.5em;
}

div#dados > p#crp {
    font-size: 1.3em;
}

h1#atendimento  {
    color: #02283b;
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 25px;
}

h1#pessoa {
    color: #02283b;
    text-align: left;
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 30px;
    margin-bottom: 30px;
}

p {
    color: #02283b;
    margin-top: 10px;
    text-align: center;
}

hr.linha-separadora {
    color: #02283b;
    margin-top: 20px;
    margin-bottom: 20px;
}

section > p {
    text-align: left;
    margin-top: 20px;
    font-size: 1.2em;
}

section#espec {
    width: 100vw;
    height: 800px;
    background-color: #166C96;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.459);
}

section#espec > h1 {
    color: white;
    font-size: 1.8em;
    padding-top: 15px;
    padding-left: 12px;
    margin-bottom: 20px;
}

.img-flipper {
    width: 480px;
    height: 294px;
}

.flip-container {
    width: 300px;
    height: 200px;
    perspective: 1000px;
}  

.flipper{
    position: relative;
	width: 100%;
	height: 100%;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

.front, .back{
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.back{
	transform: rotateY(180deg);
}

#switch:checked ~ .flip-container .flipper {
    transform: rotateY(180deg);
}

#switch{
	display: none;
}

div#contato {
    margin: 0px 7px;
    margin-bottom: 20px;
    width: 93vw;
    height: 570px;
    background-color: #d8d8d8;
    border-radius: 5px;
}

div#contato > h2 {
    font-size: 1.8em;
    padding-top: 15px;
    padding-left: 12px;
    color: #02283b;
    margin-bottom: 15px;
}

div#celular {
    margin-bottom: 10px;
}

div#e-mail {
    margin-bottom: 10px;
}

div#localizacao {
    margin-bottom: 10px;
}

i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px; /* Largura do círculo */
    height: 40px; /* Altura do círculo */
    background-color: #166C96; /* Cor de fundo do círculo */
    border-radius: 50%; /* Transformar o quadrado em círculo */
    color: white; /* Cor do texto */
    font-size: 1.2em; /* Tamanho da fonte */
    margin-left: 10px; /* Espaçamento ao redor do círculo */
    padding: 5px; /* Espaçamento interno do círculo */
    color: white;
    font-size: 1.2em;
}

a.a {
    padding-left: 2px;
    padding-bottom: 2px;
    font-weight: bold;
    color: #011824;
    text-decoration: none;
    font-size: 1.1em;
}

footer {
    background-color: #166C96;
}

div#logofooter {
    text-align: center;
}

div#logofooter > a > img {
    height: 100px;
    width: 300px;
}

div#app{
    margin-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

i#wpp {
    background-color: white;
    color: #166C96;
}

i#linkedin {
    background-color: white;
    color: #166C96;
}

i#insta {
    background-color: white;
    color: #166C96;
}